* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSans;
  font-weight: 700;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bolder;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-Black.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bold;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-Bold.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 900;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-DemiBold.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 800;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-Medium.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 600;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-Regular.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 400;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-Thin.ttf);
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url(../IranSans/Farsi\ numerals/IRANSansXFaNum-UltraLight.ttf);
}

:root {
  --base-color: #f0f4f8; 
  --base-variant: #e0f7fa; 
  --text-color: #2c3e50; 
  --secondary-text: #34495e; 
  --primary-color: #1abc9c; 
  --accent-color: #16a085; 
  --footer-color: #2c3e50; 
  --darkMode: #27ae60; 
  --zed: #2ecc71;
  --zed2: #27ae60; 
}


.darkmode {
  --base-color: #00182f; 
  --base-variant: #1c2329; 
  --text-color: #ecf0f1; 
  --secondary-text: #bdc3c7; 
  --primary-color: #167ba0; 
  --accent-color: #1abc9c; 
  --footer-color: #2c3e50; 
  --darkMode: #1abc9c; 
  transition: all ease-in-out .5s;
  --zed: #2ecc71; 
  --zed2: #27ae60; 
}


body {
  background-color: var(--base-color);
  background: linear-gradient(135deg, var(--base-color), var(--primary-color));
  height: 100vh; 
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  gap: 3rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.cats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.cats2 .cat {
  position: absolute;
  top: 20px;
  left: 10px;
  background: none;
  width: fit-content;
}

.cat {
  cursor: pointer;
  padding: 0.8rem; 
  border-radius: 15px; 
  font-size: 1.5rem; 
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.cat:hover {
  background-color: var(--primary-color); 
  transform: translateY(-5px); 
}

.cat:active {
  transform: translateY(1px); 
}


.click {
  background-color: var(--footer-colorcolor);
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  cursor: pointer;
  padding: 10px;
  background-color: var(--footer-color);
  border-radius: 5px;
  display: flex;
}

.menu {
  background-attachment: fixed;
  isolation: isolate;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
}

.menu::before {
  content: '';
  position: absolute;
  z-index: -20;
  inset: 0;
  background: var(--base-color);
}

.menu-item {
  margin: 20px 10px;
  transition: left 0.3s ease;
}

.menu-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 100%;
}

.menu-btn:hover {
  background-color: #45a049;
}

.icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  flex-direction: column;
  margin-top: 5px;
}

.dropdown-content a {
  background-color: var(--base-color);
  color: var(--secondary-text);
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: var(--base-variant);
}

.show {
  display: flex;
  animation: dropdown 0.5s ease forwards;
}

.menu-open {
  left: 0;
}

.close-icon {
  cursor: pointer;
  padding: 10px;
  background-color: var(--footer-color);
  color: var(--base-color);
  border-radius: 5px;
  text-align: right;
  margin: 10px;
  display: flex;
  width: fit-content;
}

.close-icon:hover {
  background-color: #4CAF50;
}

.blogs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  margin: 2rem 1rem;
  padding: 3rem;
  background-color: var(--base-color);
}

.blog {
  background: linear-gradient(var(--base-color), var(--base-variant));
  transition: all ease-in 200ms;
  border: 1px solid var(--text-color); /* افزایش ضخامت مرز */
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px; /* افزایش عرض */
  height: 400px;
  border-radius: 20px;
  padding: 1.5rem; /* افزایش padding */
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* سایه برای عمق بیشتر */
  position: relative; /* برای استفاده از pseudo-element */
}

.blog:hover {
  transform: translateY(-5px); /* حرکت به بالا در حالت hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* افزایش سایه در حالت hover */
}

.blog::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1); /* لایه نیمه شفاف */
  border-radius: 20px;
  opacity: 0; /* شروع با شفافیت صفر */
  transition: opacity 200ms ease-in; /* انیمیشن برای شفافیت */
}

.blog:hover::before {
  opacity: 1; /* افزایش شفافیت در حالت hover */
}


.blog img {
  width: 220px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.blog h2 {
  color: var(--secondary-text);
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0;
}

.blog p {
  font-weight: 600;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
}

.blog button {
  transition: all ease-in 200ms;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--zed);
  color: black;
  margin-top: auto;
}

.blog button:hover {
  background-color: var(--zed2);
  color: white;
}

.cats1 .cat6{
  background-color: var(--text-color);
  color: var(--base-color);
  position: absolute;
  left: 1rem;
  top: 1rem;
}
@media (max-width: 1200px) {
  .cats {
    grid-template-columns: repeat(4, 1fr); /* 4 ستون */
  }
}

@media (max-width: 992px) {
  .cats {
    grid-template-columns: repeat(3, 1fr); /* 3 ستون */
  }
}

@media (max-width: 768px) {
  .cats {
    grid-template-columns: repeat(2, 1fr); /* 2 ستون */
  }
}

@media (max-width: 576px) {
  .cats {
    grid-template-columns: 1fr; /* 1 ستون */
  }
}
@media (max-width: 350px){
  .cat{
    width: 100px;
  }
  .cat6{
    width: unset;
  }
}
